@import "tailwindcss";

:root {
    --bg-main: hsl(0, 0%, 14%);
    --bg-secondary: hsl(0, 0%, 18%);
    --clr-main: hsl(0, 0%, 86%);
}

* {
    box-sizing: border-box;
}

html {
    color-scheme: dark;
}

html,
body,
#app {
    min-height: 100vh;
}

body {
    margin: 0;
    color: var(--clr-main);
    background-color: var(--bg-main);
}

._color-main { color: var(--clr-main) }
._bg-main { background-color: var(--bg-main) }
._bg-secondary { background-color: var(--bg-secondary) }
